{% extends "todo_app/base.html" %}

{%block title%} ABOUT PAGE {%endblock title%} 

{%block content%}
     
<div class="jumbotron jumbotron-fluid">
    <div class="container bg-light">
      <h1 class="display-4"><center>TO-DO LİST</center></h1>
      <p class="lead"><center>This is To-Do List for Company Employees</center></p>
      <p class="lead"><center>You can use this TO-DO list for your projects, works etc.</center></p>
      <p class="lead"><center>Just follow the list</center></p>
      <p class="lead"><center>If you follow this list correctly, you will not make mistakes</center></p>
      <p class="lead"><center>You can update anything</center></p>
      <div class="text-center"><button type="button" class="btn btn-outline-success">Create new To-Do List</button>
    </div>
</div>
</div>

{%endblock content%}

